<div class="row">
	<a href="/profile" class="col-xs-2"><span class="glyphicon glyphicon-home"></span></a>
	<h4 class="col-xs-8 text-center"> Update Your Location </h4>
	<a href="/find-me" class="col-xs-2"><span class="glyphicon glyphicon-map-marker"></span></a>
</div>


	<div class="row">
		<h1 class="col-xs-4 col-xs-offset-4 col-sm-6 col-sm-offset-3 text-center">NeXu</h1>
	</div>

	<h1>Users#edit for <%= @user.id %></h1>

	<p><button data-id="<%= @user.id %>" id="finder-btn">Geo-Coordnate My Position</button>Send Coordinates to DB</p>


	<div id="out"></div>












