<style>
	body {
		background: #fff;
	}
</style>

<div class="row">
	<a href="/profile" class="col-xs-2"><span class="glyphicon glyphicon-home"></span></a>
	<h4 class="col-xs-8 text-center"> Update Your Location </h4>

	<a href="/matches" class="col-xs-2"><span class="glyphicon glyphicon-user"></span></a>
</div>

<div class="row col-xs-10 col-xs-offset-1 text-center">
	<button data-id="<%= @user.id %>" id="finder-btn" class="">Locate Me</button>
</div>


	<!-- <div class="row">
		<h1 class="col-xs-4 col-xs-offset-4 col-sm-6 col-sm-offset-3 text-center">NeXu</h1>
	</div>

	<h1>Users#edit for <%= @user.id %></h1>
 -->

<div class="row text-center">
	<a href="/connections"><button>Find Matches Near Me</button></a>
</div>	



<div id="out" class="col-xs-10 col-xs-offset-1 row text-center"></div>












