<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h2>My Profile Page :)</h2>

<p><button onclick="geoFindMe()">Show my location</button></p>
<div id="out"></div>

<div>
	<%= current_user.description %>
</div>
	<%= link_to "Get your Matches!", matches_path %>

