<style>
body {
	background: #fff;
}
</style>

<div class="row">
	<a href="/find-me" class="col-xs-2"><span class="glyphicon glyphicon-map-marker"></span></a>
	<h3 class="col-xs-8 text-center"><%= @user.name %></h3>
	<a href="/matches" class="col-xs-2"><span class="glyphicon glyphicon-user"></span></a>
</div>

<!-- <p><button onclick="geoFindMe()">Show my location</button></p>
<div id="out"></div>
 -->



<div class="col-xs-10 col-xs-offset-1 text-center">
	<%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?type=large", id: "profile-pic" %>
</div>


<div class="col-xs-10 col-xs-offset-1 text-center">
	<%= @user.description %>
</div>

<div class="row col-xs-12 text-center">
	<%= link_to "Sign Out", signout_path, id: "sign_out" %>
</div>


	
