<div class="row">
	
</div>

<div class="row">
	<a href="">
		<div class="glyphicon glyphicon-cog col-xs-4"></div>
	</a>
	<h1 class="col-xs-4 col-sm-4 text-center">NeXu</h1>
	<a href="">
		<div class="glyphicon glyphicon-comment col-xs-4 text-right"></div>
	</a>
</div>

<div class="row">
	<div class="col-xs-3"></div>
	<div class="circle-btn glyphicon glyphicon-remove col-xs-3 text-center"></div>
	<div class="circle-btn glyphicon glyphicon-ok col-xs-3 text-center"></div>
	<div class="col-xs-3"></div>
</div>
