<h1>Matches#edit</h1>
<p>Find me in app/views/matches/edit.html.erb</p>
<p><button onclick="geoFindMe()">Show my location</button></p>
<div id="out"></div>

<p>1. Show Matches </br>
	2. Geo Coordinate Distances -- this is done THROUGH-OUT APP</br>


