$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
	body { 
		/*background: url('sf.jpg') no-repeat 25% 25% fixed;*/
		font-family: Montserrat;
		color: #fff;
	}
	h1 {
		font-family: Raleway;
		color: #fff;
	}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min){ 
	body { 
		/*background: url('sf.jpg') no-repeat 25% 25% fixed;*/
		font-family: Montserrat;
	}
	h1 {
		font-family: Raleway;
		color: #fff;
	}
}

 /*Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min){ 
	body { 
		/*background: url('sf.jpg') no-repeat 25% 25% fixed;*/
		font-family: Montserrat;
	}
	h1 {
		font-family: Raleway;
		color: #fff;
	}
}

 /*Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min){ 
	body { 
		/*background: url('sf.jpg') no-repeat 25% 25% fixed;*/
		font-family: Montserrat;
		color: #fff;
	}
	h1 {
		font-family: Raleway;
		color: #fff;
	}
}