$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
body > div.container > div:nth-child(4) {
	margin-top: 25px;
	color: #777;
}

#out > img {
	border-radius: 150px;
}

#finder-btn {
	border: 0;
	background-color: #F7931E;
}

div#out{
	margin-top: 95px;
}

input {
	border-radius: 4px;
	border: 0px;
	color: #777;
	width: 100%;
	margin-bottom: 4px;
	font-family: Raleway;
	line-height: 3;
	padding-left: 8px;
}

#edit_user_2 > input[type="submit"]{
	color: #fff;
	background-color: #F03904;
}

textarea#user_description {
	color: #777;
    font-family: Raleway;
}

#user_description {
	width: 100%;
}

.glyphicon {
	line-height: 4;
}

body > div.container > div:nth-child(2) > a:nth-child(1) {
	padding-left: 30px;
}

.glyphicon-user {
	color: #fff;
	font-size: 25px;
}

.glyphicon-map-marker{
	color: #fff;
	font-size: 25px;
}

.glyphicon-home{
	color: #fff;
	font-size: 25px;
}

h3{
	color: #fff;
	line-height: 2.5;
	font-family: Raleway;
}

#profile-pic {
	border-radius: 150px;
	margin-top: -45px;
}

div#nav{
	margin-top: -45px;
}

div#sign-out {
	margin-top: -40px;
}

select#user_interest_id {
	width: 100%;
	margin-bottom: 4px;
	border: 0;
	color: #777;
	font-family: Raleway;
    height: 46px;
}

#new_user > input[type="submit"]:nth-child(10) {
	color: #fff;
	margin-top: 2px;
	background-color: #FF4322;
}

body > div.container > div:nth-child(2) > div {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
}

#bg-overlay {
    background: rgba(37, 36, 36, 0.92);
	height:100%;
	width: 100%;
	z-index: 0;
	position: fixed;
}

#bg-overlay > div:nth-child(1) > a:nth-child(1) > span {
	color: #fff;
	margin-left: 25px;
}

#bg-overlay > div:nth-child(1){
	margin-top: 0px;
}

#description {
	color: #fff;
	margin-top: -40px;
}

#sign_out {
	margin-top: -25px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min){ 
	border-radius: 4px;
	border: 0px;
	color: #000;
	width: 100%;
	margin-bottom: 4px;
}
	

 /*Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min){ 
	border-radius: 4px;
	border: 0px;
	color: #000;
	width: 100%;
	margin-bottom: 4px;
}


 /*Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min){ 
	border-radius: 4px;
	border: 0px;
	color: #000;
	width: 100%;
	margin-bottom: 4px;
}