<!DOCTYPE html>
<html>
<head>
  <title>NexuTest</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway|Montserrat' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>



</head>

<body>
	<div class="container"> 

<%= javascript_include_tag :application %>
<%= yield %>
	</div>
</body>
</html>
