<!DOCTYPE html>
<html>
<head>
  <title>NexuTest</title>

<!-- TEST FOR GEO COORDINATES ##### ARE WE RECEIVING THEM ON THIS PAGE? -->

<!-- MOVE TO JAVASCRIPTS>APPLICATION.JS FILE -->


</head>
<body>

<h1>NeXu</h1>

<%= javascript_include_tag :application %>

<!-- <p><button onclick="geoFindMe()">Show my location</button></p>
<div id="out"></div> -->


</div>


<%= yield %>





</body>
</html>
